<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineON</title>
</head>
<body>
    <h1>Bem-vindo ao CineON!</h1>
    <input type="file" id="videoFile" accept="video/mp4">
    <video id="video" width="640" height="360" controls autoplay></video>

    <script>
        document.getElementById('videoFile').addEventListener('change', function() {
            var videoFile = this.files[0];
            var video = document.getElementById('video');
            video.src = URL.createObjectURL(videoFile);
        });
    </script>
</body>
</html>
